.main{
    height: 100vh; /*на всю высоту экрана*/
    background-color: #eca9ec;

}

.text{
    width: 300px;
    background-color: darkseagreen;
}

.photo{
    width: 300px;
    height: 400px;
    background-color: darkseagreen;
}