.skill {
    width: 250px;
    background-color: darkseagreen;
    display: flex; /*чтобы лучше управлять положением одного скила*/
    flex-direction: column;
    align-items: center;
    text-align: center; /*выравнивает строчные элементы, не работает для див внутри див*/
    padding: 20px;
    box-sizing: border-box; /*чтобы паддинги уже входили в заданную выше ширину*/
}

.icon {
    height: 60px;
    width: 60px;
    background-color: darkgoldenrod;
}

.description {

}